<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos/diseño-agregar-ser-prod.css">
    <title>Agregar producto</title>

</head>

<body>
    <div class="contenedor">
        <div class="fondo">
            <div class="banner">
                <ul class="nav nav-pills nav-fill ">
                    <li class="nav-item d-flex">
                        <a class="align-self-center nav-link text-dark h5" href="Estados-pan.html">Estados de pedidos</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="align-self-center nav-link text-dark active bg-warning h5" aria-current="page" href="agregar-prod-pan.html">Agregar producto</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="align-self-center nav-link text-dark   h5" href="agregar-ser-pan.html">Agregar servicio</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="align-self-center nav-link text-dark  h5" href="eliminar-p-o-s.html">Eliminar producto <br>o servicio</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="align-self-center nav-link text-dark h5" href="cotizacion.html">Mandar
                            cotización</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="align-self-center nav-link" href="#"> <img class="logo" src="estilos/imagenes/logo.png" alt=""> </a>
                    </li>
                   
                    <li class="nav-item">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: aqua; margin-top: 1vh;">
                              <img class="perf" src="estilos/imagenes/perf-icon.png" alt="" style="width: 3vw;"> 
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="perfil.html">Mi perfil</a></li>
                                <li><a class="dropdown-item" href="#">Mi pedido</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="estados-pan.html">Administración</a></li>
                                <li><a class="dropdown-item" href="inicio-sesion.html">Cerrar sesión</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <section class="item">AGREGAR PRODUCTOS</section>
            <section class="container-fluid ">
                <div class="column auto align items center justify-content-center"></div>
            </section>
            <br>
            <div class="contenido" id="app">
                <input v-on:change="subir()" type="file" id="file" ref="file">

        <div class="options">
            <label for="">   Selecionar un servicio:</label>
            <select v-model="prod.producto" class="form-select" aria-label="Default select example">
                <option selected>Elige una opción</option>
                <option value="3">Termos</option>
                <option  value="1">Stickers</option>
                <option  value="2">Invitaciones</option>
              </select>
        </div>
        <div class="campos">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="cont-lab">Nombre</label>
                <textarea v-model="prod.nombredispro" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
            <br>
            <div class="mb-3">
                <label for="exampleFormControlTextarea2" class="cont-lab">Descripción</label>
                <textarea v-model="prod.descripcion" class="form-control" id="exampleFormControlTextarea2" rows="4"></textarea>
            </div>
            <div class="input-group-append">
                <button @click="enviarDise" class="btn btn-primary" src="estilos/imagenes/x.svg" alt="" role="button" type="button">Agregar</button>
            </div>

        </div>


    </div>

</div>
</div>
</div>

</div>

   

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  var app =new Vue({
      el:'#app',
      data:{
          prod:{
            nombredispro:"",
            descripcion:"",
            fotodispro:"",
            producto:"",
          },
      },
        methods:{
            subir:function(){
        this.prod.fotodispro = this.$refs.file.files[0];
      },
          enviarDise:function(){
            let dis =new FormData();
              dis.append('nombredispro', this.prod.nombredispro);
              dis.append('descripcion', this.prod.descripcion);
              dis.append('imagen', this.prod.fotodispro);
              dis.append('producto', this.prod.producto);

            axios.post('controller/agregarprod.php', dis )
            .then(function(){
            console.log(response);})
            .catch(function(error){
            console.log(error);})
        },
       
     
      }

  })
    
</script>

</body>

</html>